@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.App {
  text-align: center;
}

.App *{
  box-sizing: border-box;
}

.change-next-note-time {
  width:100%;
}

.change-next-note-time input{
  width: 100%;
  padding: 10px;
  border-left: none;
  border-top:none;
}

.current-note {
  font-size: 4rem;
  color: #3f2b29;
  font-family: 'Playfair Display', serif;
  width: 100%;
}

.controls button{
  width: 100%;
  background:#31aa37;
  color:#fff;
  padding:10px 0;
  border: none;
}
.controls button.paused{
  background:#ff1800;
}